<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Normalization</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon></button>
  </mat-card-header>
  <mat-grid-list cols="3" [rowHeight]="100">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Methods</mat-label>
        <mat-select [(ngModel)]="chosenMethod">
          <mat-option *ngFor="let m of methods" [value]="m">
            {{m}}
          </mat-option>
        </mat-select>
        <mat-hint>{{description[chosenMethod]}}</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="normalizeData()" style="margin-right: 10px">Submit</button>
    <button mat-raised-button color="primary" (click)="ViewInputData()" style="margin-right: 10px">View Sample Of Input Data</button>
    <app-add-graph-button [id]="blockID" *ngIf="blockID !== 0 && settings.settings.blockMap[blockID].completed"></app-add-graph-button>
    <button mat-raised-button *ngIf="blockID !== 0 && settings.settings.blockMap[blockID].completed" color="accent" (click)="download()" style="margin-right: 10px">Download CSV</button>
    <button mat-icon-button *ngIf="blockID !== 0 && settings.settings.blockMap[blockID].completed"><mat-icon color="primary">check_circle</mat-icon></button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="query" *ngIf="submittedQuery"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
