<div [ngSwitch]="block.title">
  <app-starter [blockID]="block.id" *ngSwitchCase="'Starting Data'"></app-starter>
  <app-imputation [blockID]="block.id" *ngSwitchCase="'Imputation'"></app-imputation>
  <app-normalize [blockID]="block.id" *ngSwitchCase="'Normalization'"></app-normalize>
</div>

<mat-grid-list cols="2" *ngIf="graphs.length > 0">
  <mat-grid-tile [ngSwitch]="g" *ngFor="let g of graphs">
    <app-profile-plot *ngSwitchCase="'Profile Plot'" [blockID]="block.id"></app-profile-plot>
    <app-box-plot *ngSwitchCase="'Box Plot'" [blockID]="block.id"></app-box-plot>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
