<div *ngIf="blockID !== 0" style="margin-top: 10px">
  <div [ngSwitch]="settings.settings.blocks[blockID-1].title">
    <app-starter [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Starting Data'" [df]="df"></app-starter>
    <app-imputation [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Imputation'" (parameters)="updateParams($event)"></app-imputation>
    <app-normalize [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Normalization'" (parameters)="updateParams($event)"></app-normalize>
    <app-ttest [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'TTest'" (parameters)="updateParams($event)"></app-ttest>
    <app-p-correction [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'P-Correction'" (parameters)="updateParams($event)"></app-p-correction>
    <app-anova [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'ANOVA'" (parameters)="updateParams($event)"></app-anova>
    <app-filter-column [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Filter'" (parameters)="updateParams($event)"></app-filter-column>
    <app-fuzzy [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Fuzzy'" (parameters)="updateParams($event)"></app-fuzzy>
    <app-set-df-as-current [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Change Current DF'" (parameters)="updateParams($event)"></app-set-df-as-current>
    <app-correlation-matrix [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Correlation Matrix'" (parameters)="updateParams($event)"></app-correlation-matrix>
    <app-limma [blockID]="settings.settings.blocks[blockID-1].id" *ngSwitchCase="'Limma'" (parameters)="updateParams($event)"></app-limma>
  </div>
  <div *ngIf="settings.settings.blocks[blockID-1].extra">
    <mat-chip-list *ngIf="settings.settings.blocks[blockID-1].extra['curtain']">
      <mat-chip color="primary" *ngFor="let c of settings.settings.blocks[blockID-1].extra['curtain']" (click)="openCurtain(c)">Curtain</mat-chip>
    </mat-chip-list>
  </div>

  <mat-grid-list cols="2" *ngIf="settings.settings.blocks[blockID-1].graphs.length > 0" rowHeight="700">
    <mat-grid-tile [ngSwitch]="g.name" *ngFor="let g of settings.settings.blocks[blockID-1].graphs">
      <app-profile-plot *ngSwitchCase="'Profile Plot'" [graph]="g"></app-profile-plot>
      <app-volcano-plot *ngSwitchCase="'Volcano Plot'" [graph]="g"></app-volcano-plot>
      <app-pca-plot *ngSwitchCase="'PCA'" [graph]="g"></app-pca-plot>
      <app-fuzzy-plot *ngSwitchCase="'Fuzzy'" [graph]="g"></app-fuzzy-plot>
      <app-heatmap *ngSwitchCase="'Heatmap'" [graph]="g"></app-heatmap>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
</div>

