<input hidden type="file" accept=".json" #uploadSettings id="jsonUploadHidden" (change)="_uploadSettings($event)">
<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ADEPT</span>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-label>Server URL</mat-label>
    <input matInput value="10.202.62.27:8000" #serverURL (keypress)="updateServerURL($event, serverURL.value)" type="text">
  </mat-form-field>
  <button mat-button *ngIf="settings.settings.uniqueID !== ''">{{settings.settings.uniqueID}}</button>
  <button mat-icon-button aria-label="Load Data" (click)="uploadSettingsData(uploadSettings)">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <button mat-icon-button aria-label="Save Data" (click)="saveMenu()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button aria-label="Adding block" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="accent" [matMenuTriggerFor]="extraActions"><mat-icon>build</mat-icon></button>
</mat-toolbar>
<mat-drawer-container class="main-page">
  <mat-drawer mode="side" [(opened)]="opened">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let block of settings.settings.blocks" (click)="scrollTo(block.id)">
        {{block.id}}. {{block.title}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-block-switch id="{{b.id}}-block-switch" *ngFor="let b of settings.settings.blocks" [blockID]="b.id"></app-block-switch>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" style="margin-left: 10px; margin-top: 10px"><mat-icon>add</mat-icon></button>

  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addBlock('Filter')">Filter</button>
  <button mat-menu-item (click)="addBlock('Imputation')">Impute Data</button>
  <button mat-menu-item (click)="addBlock('Normalization')">Normalize Data</button>
  <button mat-menu-item (click)="addBlock('TTest')">Two Conditions T-Test</button>
  <button mat-menu-item (click)="addBlock('ANOVA')">ANOVA</button>
  <button mat-menu-item (click)="addBlock('Fuzzy')">Fuzzy C Mean Clustering</button>
  <button mat-menu-item (click)="addBlock('P-Correction')">P-Value Correction</button>
  <button mat-menu-item (click)="addBlock('Change Current DF')">Change Current DF</button>
  <button mat-menu-item (click)="addBlock('Correlation Matrix')">Correlation Matrix</button>
  <button mat-menu-item (click)="addBlock('Limma')">Limma</button>
</mat-menu>

<mat-menu #extraActions="matMenu">
  <button mat-menu-item (click)="openCurtainUploader()">Curtain Data Uploader</button>
</mat-menu>

