<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ADEPT</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Adding block">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-page">
  <mat-drawer mode="side" [(opened)]="opened">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let block of blockList">
        {{block.id}}. {{block.title}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-starter></app-starter>
  </mat-drawer-content>
</mat-drawer-container>
