<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ADEPT</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="settings.settings.uniqueID !== ''">{{settings.settings.uniqueID}}</button>
  <button mat-icon-button aria-label="Adding block" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-page">
  <mat-drawer mode="side" [(opened)]="opened">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let block of blockList">
        {{block.id}}. {{block.title}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-block-switch *ngFor="let b of blockList" [block]="b"></app-block-switch>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" style="margin-left: 10px; margin-top: 10px"><mat-icon>add</mat-icon></button>

  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Impute Data</button>
  <button mat-menu-item>Normalize Data</button>
</mat-menu>

