<mat-card class="container">
  <mat-card-header>
    <mat-card-title>Fuzzy C Mean Clustering</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon></button>
  </mat-card-header>
  <mat-grid-list cols="4" [rowHeight]="100">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Cluster Membership Threshold</mat-label>
        <input matInput type="number" [(ngModel)]="membershipThreshold">
      </mat-form-field>

    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="fuzzyClusterData()" style="margin-right: 10px">Submit</button>
    <button mat-raised-button color="primary" (click)="ViewInputData()" style="margin-right: 10px">View Sample Of Input Data</button>
    <app-add-graph-button [id]="blockID" *ngIf="blockID !== 0 && settings.settings.blockMap[blockID].completed"></app-add-graph-button>
    <button mat-raised-button *ngIf="blockID !== 0 && settings.settings.blockMap[blockID].completed" color="accent" (click)="download()" style="margin-right: 10px">Download CSV</button>
    <button mat-icon-button *ngIf="blockID !== 0 && settings.settings.blockMap[blockID].completed"><mat-icon color="primary">check_circle</mat-icon></button>
  </mat-card-actions>
</mat-card>
