<mat-card>
  <mat-card-header>
    <mat-card-title>Volcano Plot</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon></button>
  </mat-card-header>
  <plotly-plot [data]="result" [layout]="layout" [updateOnDataChange]="true" [divId]="_blockID+'profile_plot'"></plotly-plot>
  <mat-card-actions>
    <button mat-button (click)="download()" >Download</button>
    <mat-form-field>
      <mat-label>Comparisons</mat-label>
      <mat-select [(ngModel)]="chosenComparison" (closed)="drawData()">
        <mat-option *ngFor="let c of comparisons" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 10px">
      <mat-label>P-value threshold</mat-label>
      <input [(ngModel)]="pCutOff" (focusout)="drawData()" matInput>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
